.terminalWindow {
	background-color: rgb(27,27,27);
	padding: 1rem;
}
.terminalLine {
	line-height: 15px;
}


/*.terminal input {
	background-color: rgb(27,27,27);
	border: none;
	box-shadow: none;
	width: 100%;
	color: green;
	margin-left: 8px;
}
.terminal input::before {
	content: 'hello';
	color: green;
}
.terminal input:focus {
	border: none;
	outline: none;
}
.terminal input[placeholder] {
	color: green;
}*/